@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

body {
  margin : 0;
  background: white;
  color: black;
  height: 100%;
}

.title{
  text-align: center;
  font-size: 50px;
  font-family: Pretendard;
}

.title-sub{
  text-align: center;
  margin-top: 50px;
}

.navbar{
  background: black;
  padding: 30px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  margin-right: 30px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-family: Pretendard;
}

.footer{
  background-color: black;
  padding: 30px;
  display: flex;
  height: 30px;
  justify-content: center;
}

.footer a {
  margin-right: 30px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-family: Pretendard;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 750px;
}

.ad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 870px;
}

.mButton{
  width: 200px;
  height: 40px;
  justify-content: center;
  text-align: center;
  border: 0;
  border-radius: 30px;
  color: white;
  background: rgb(150, 74, 74);
  font-family: Pretendard;
  font-size: 2vh;
}

.mButton:hover{
  cursor: pointer;
}




.dropDown{
  position: absolute;
  top: 5rem;
  right: 0.8rem;
  width: 80px;
  padding: 15px;
  border-radius: 15px;
  background-color: black;
  border: 1px solid grey;
}

.dropDown::before{
  content: '';
  position: absolute;
  top: -0.7rem;
  right: 1.5rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: black;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}


.dropDownList{
  display: flex;
  flex-direction: column;
  list-style: none;

  padding-left: 0;
}
.dropDown ul li a{
  color: white;
  font-size: 1.2rem;
}

.dark-mode {
  background: #2B2B2B;
  color: rgba(255, 255, 255, 0.87);
}
