body {
  margin : 0;
  background: white;
  color: black;
}

.title{
  text-align: center;
  margin-top: 200px;
  font-size: 50px;
}

.title-sub{
  text-align: center;
  margin-top: 50px;
}

.navbar{
  background: black;
  padding: 30px;
}

.navbar a {
  margin-right: 30px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}
