.login{
    height: 800px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.sLogin{
    margin-top: 50px;
}
.gLogin{
    margin: 0px auto;
}

.dark-mode .TextField{
    background: white;
}