.search{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.sSearch {
    position: relative;
    flex-direction: row;
    min-width: 280px;
    width: 60vh;
    height: 50px;
    margin: 10px auto;
    border: 3px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.searchBar {
    width: 75%;
    height: 95%;
    border: 0px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);
}
  

.mMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 800px;
    font-family: Pretendard;
}

.list {
    list-style: none;
    text-align: center;
}

.listItem{
    margin-bottom: 15px;
    font-size: 20px;
}

.table {
    border: 1px #ce9f9f solid;
    font-size: 0.9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 80%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 20vh;
    margin-top: 12vh;
}

thead {
    font-weight: bold;
    color: #fff;
    background: #73685d;
}

td, th {
    padding: 1em .5em;
    vertical-align: middle;
    border: 1px solid #444444;
}

/* 제공 */
th:nth-child(1) {
    width: 10%;
}

/* 번호 */
th:nth-child(2) {
    width: 10%;
}

/* 제목 */
th:nth-child(3) {
    width: 50%;
}

/* 가수 */
th:nth-child(4) {
    width: 20%;
}

/* 북마크 */
th:nth-child(5) {
    width: 10%;
}

.brand{
    width: 5vh;
    height: 5vh;
}

.sButton{
    height: 100%;
    border: none;
    width: 9%;
    float: right;
   
    background: #73685d;
}

.sButton:hover{
    cursor: pointer;
}

.select{
    width: 8vh;
    height: 100%;
    border: none;
    outline: none;
    float: left;
    background: pink;
    font-family: pretendard;
    font-weight: bold;
    text-align: center;
}

h1{
    margin-top: 12vh;
}

.eH:hover{
    cursor: pointer;
}

.fH:hover{
    cursor: pointer;
}

.dark-mode .tr {
    background: #333333;
}

.dark-mode .searchBar::placeholder{
    color: #a3a3a3;
}

.dark-mode .searchBar {
    color: #a3a3a3;
}

.lds-ring,
.lds-ring div {
    box-sizing: border-box;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid currentColor;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner-container {
    position: fixed; /* 화면 전체를 덮도록 설정 */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7); /* 반투명 배경 */
    z-index: 9999; /* 다른 요소 위에 표시 */
}

.dark-mode .loading-spinner-container {
    background-color: rgba(0, 0, 0, 0.7);
}
