.search{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.sSearch {
    position: relative;
    flex-direction: row;
    width: 60vh;
    height: 50px;
    margin: 10px auto;
    border: 3px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.searchBar {
    width: 80%;
    height: 95%;
    border: 0px;
    outline: none;
    font-size: 16px;
}
  

.mMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 800px;
    font-family: Pretendard;
}

.list {
    list-style: none;
    text-align: center;
}

.listItem{
    margin-bottom: 15px;
    font-size: 20px;
}

.table {
    border: 1px #ce9f9f solid;
    font-size: 0.9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 80%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 20vh;
    margin-top: 12vh;
}

thead {
    font-weight: bold;
    color: #fff;
    background: #73685d;
}

td, th {
    padding: 1em .5em;
    vertical-align: middle;
    border: 1px solid #444444;
}

.brand{
    width: 5vh;
    height: 5vh;
}

.sButton{
    height: 100%;
    border: 0px;
    width: 9%;
    float: right;
   
    background: #73685d;
}

.sButton:hover{
    cursor: pointer;
}

.select{
    width: 9%;
    appearance: none;
    text-align-last: center;
}