.search{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.searchBar {
    width: 600px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
  

.mMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 800px;
}

.list {
    list-style: none;
    text-align: center;
}

.listItem{
    margin-bottom: 15px;
    font-size: 20px;
}